@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  :root {
    --chart-1: 12 76% 61%;  /* Red-orange */
    --chart-2: 210 90% 55%; /* Bright blue */
    --chart-3: 140 65% 45%; /* Rich green */
    --chart-4: 45 85% 60%;  /* Warm yellow */
    --chart-5: 290 75% 70%; /* Soft purple */
  }

  body {
    @apply font-primary bg-primary text-white leading-loose;
  }

  h1 {
    @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold;
  }

  h2 {
    @apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold;
  }

  h3 {
    @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold;
  }
}

@layer utilities {
  .nav-link::after {
    @apply content-[''] bg-pink-500 h-[2px] w-0 left-0  rounded-xl absolute duration-300

  }
  .nav-link:hover::after {
    @apply w-[100%]
  }
}